.git
.idea
.gradle
gradle
**/*.iml
**/.DS_Store
**/Thumbs.db
README.md
cloudformation-template.yml
scripts/*.ps1
# Allow JAR files but exclude other build artifacts
build/
!build/libs/
!build/libs/*.jar

